/*Add the reset*/



.csv_preview-section {
  margin:  0 auto;
  padding: 2em;
  width: 100%;
  font-family: Calibri, sans-serif;
  font-size: 1.125em;
}

.table-container {
  margin: 0 auto;
  padding: 2em;
  width: 90%;
  background-color: aquamarine;
  
}

#loaded_csv_data_table {
  font-size: .6em;
}